<form method="post" action="{{ path('veille_info_delete', {'id': veille_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veille_info.id) }}">
    <button class="btn_rouge"><i class="fas fa-trash-alt"></i></button>
</form>
