<form method="post" class="bouton-suppr" action="{{ path('veille_info_delete', {'id': veille_info.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veille_info.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
