<style>
.btn_rouge{
        color: #fff;
        background-color: red;
        padding: 6px 6px;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
}
    .btn{
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        padding: 6px 6px;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
        float:left;
        margin-right:20px;
    }
</style>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('ajouter') }}</button>
{{ form_end(form) }}
