{% extends 'base.html.twig' %}

{% block title %}Edit VeilleInfo{% endblock %}

{% block body %}
    <h1>Modification de la veille informatique</h1>

    {{ include('veille_info/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('veille_info/_delete_form.html.twig') }}
    
    <br>

    <a href="{{ path('veille_info_index') }}">Revenir à la liste</a>
{% endblock %}
