{% extends 'base.html.twig' %}

{% block title %}New VeilleInfo{% endblock %}

{% block body %}
    <h1>Ajouter une veille informatique</h1>

    {{ include('veille_info/_form.html.twig') }}
    
    <br> <br> <br>
    
    <a href="{{ path('veille_info_index') }}">Revenir à la liste</a>
{% endblock %}
