{% extends 'base.html.twig' %}

{% block title %}Nouveau Lien
{% endblock %}

{% block body %}
	<style>
		.page-contenu {
			max-width: 300px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 80px;
			padding: 10px;
			border: solid 3px #3A57A6;
			border-radius: 10px;
		}
		hr {
			max-width: 100px;
			height: 1px;
		}
		label {
			font-weight: bold;
		}
		.btn-success {
			margin-top: 10px;
			max-width: 100px;
			margin-left: 60%;
		}
		.btn-danger {
			margin-top: -65px;
			margin-left: 10px;
		}
		div {
			display: flex;
			flex-direction: column;
		}
		#navbarText{
			flex-direction:row;
		}
	</style>
	<h1 class="h3 mb-3 font-weight-normal text-center">Ajout d'un nouveau lien à la veille</h1>
	<hr class="hr">
	<div class="page-contenu">
		{{ include('veille_info/_form.html.twig') }}

		<a href="{{ path('article_index') }}">
			<button class="btn btn-danger">Retour</button>
		</a>
	</div>
{% endblock %}
